{%extends 'base.html'%}   
{% block content %}
{{block.super}}
    {% if images %}
    <div class='container d-flex flex-wrap justify-content-center'>
        {% for image in images  %}
           <div class="card col-lg-3 col-md-6 m-2 p-2">
            <img src="{{image.image.url}}" class="card-img-top" alt="{{image.name}}" height='300' data-toggle="modal" data-target="#{{image.image}}">
    
            <div class="card-body">
                <p class="card-text">{{image.name}}</p>
            </div>
           </div>
            
            {% endfor %}
        
    </div>
    {% endif%}
{% endblock content%}

