{%extends 'base.html'%}   
{% block content %}
{{block.super}}
    {% if images %}
    <div class='container-fluid d-flex flex-wrap justify-content-center'>
        {% for image in images  %}
           <div class="card col-lg-3 col-md-6 m-2 p-2">
            <img src="{{image.image.url}}" class="card-img-top" alt="{{image.name}}" height='300' width='100%' data-toggle="modal" data-target="#{{image.image}}">
    
            <div class="card-body">
                <p class="card-text">{{image.name}}</p>
            </div>
           </div>
                          <!-- Modal -->
        <div class="modal fade" id="{{image.image}}" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">{{image.name}}</h5>
                <br>
                <h6 class="modal-title" >{{image.caption}}</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="{{image.image.url}}" class="card-img-top" alt="{{image.caption}}" height='100%'width='100%'>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Copy Image Link</button>
            </div>
            </div>
        </div>
        </div> 
            {% endfor %}
        
    </div>
    {% endif%}
{% endblock content%}

